{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library of Books</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="http://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css">-->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:700|Libre+Baskerville">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<body>

{% block top %}
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-darker-than-light">
        <div class="container">
            <div class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <a class="navbar-brand" href="http://www.rde.org/codingchallenge/" target="_blank">LIBRARY OF BOOKS</a>
            </div>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <a class="navbar-brand" href="http://www.rde.org/codingchallenge/" target="_blank">RDE Coding Challenge
                    Fall'17 | LIBRARY OF BOOKS</a>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="container">
    <div class="row pt-3">
        <div class="col-sm-3 col-md-3 d-none d-sm-block left">
            {% block above-sidebar %}
            {% endblock %}
            <div class="bg-light p-3">
            {% block sidebar %}
            {% endblock %}
            </div>
        </div>

        <div class="col-sm-8 col-md-8 ml-sm-auto">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<footer class="footer text-dark bg-light">
    <div class="container text-center">
        <small>
            <a href="https://github.com/PalashSJain/RDE-Fall2017"
                                    target="_blank" class="text-dark"><img src="{% static 'images/icons/github.png' %}" class="icons"> Github.com/PalashSJain/RDE-Fall2017</a>
            |
            <a href="mailto:palash.jain@mail.rit.edu" target="_blank" class="text-dark"><img src="{% static 'images/icons/mail.png' %}" class="icons"> palash.jain@mail.rit.edu</a>
        </small>
        <div class="d-none">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
</footer>


<script>
    {% block javascript %}
    {% endblock %}
</script>

</body>
</html>