{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library of Books</title>
    <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</head>

<body>

{% block top %}
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="http://www.rde.org/codingchallenge/" target="_blank">RDE Coding Challenge
            Fall'17 | LIBRARY OF BOOKS</a>
    </nav>
</header>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            {% block sidebar %}
            {% endblock %}
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<footer class="footer text-dark">
    <div class="container text-center">
        <span class="text-muted"><a href="https://github.com/PalashSJain"
                                    target="_blank">PALASH JAIN, Software Engineer</a> | <a
                href="mailto:palash.jain@mail.rit.edu" target="_blank">palash.jain@mail.rit.edu</a></span>
    </div>
</footer>

</body>
</html>