{% extends "base.html" %}

{% block sidebar %}
<div class="">
    <h3>{{ book.title }}</h3>
    <h5 class="card-subtitle mb-2">{{book.author}}</h5>
    <hr>
    {% if book.language %}
    <div class="form-group">
        <label for="bookLanguage">Language:</label>
        <strong id="bookLanguage">{{ book.language }}</strong>
    </div>
    {% endif %}
    {% if book.release_date %}
    <div class="form-group">
        <label for="bookReleaseDate">Released On:</label>
        <strong id="bookReleaseDate">{{ book.release_date }}</strong>
    </div>
    {% endif %}
    {% if book.last_updated %}
    <div class="form-group">
        <label for="bookLastUpdatedOn">Last Updated On:</label>
        <strong id="bookLastUpdatedOn">{{ book.last_updated }}</strong>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<p><a href="/" class="text-warning">Go back to home page?</a></p>
<div class="card page">
    <div class="card-body">
        <p class="card-text">{{ content }}</p>
    </div>
</div>
<p>
<div class="center">
    <div class="pagination">
        {% if book.current_page > 1 %}
        <a href="/book/{{book.id}}/page/1" title="Go to first page">&lt;&lt;</a>
        <a href="/book/{{book.id}}/page/{{book.current_page|add:-1}}" title="Go to previous page">&lt;</a>
        {% endif %}

        <a href="#" class="active" title="You are currently on page {{book.current_page}}">Page {{book.current_page}} of
            {{book.last_page_number}}</a>

        {% if book.current_page < book.last_page_number %}
        <a href="/book/{{book.id}}/page/{{book.current_page|add:1}}" title="Go to next page">&gt;</a>
        <a href="/book/{{book.id}}/page/{{book.last_page_number }}" title="Go to last page">&gt;&gt;</a>
        {% endif %}
    </div>
</div>
</p>
{% endblock %}
