{% extends "base.html" %}

{% block sidebar %}
<div>
    <h3>{{ book.title }}</h3>
    <h5 class="card-subtitle mb-2">{{book.author}}</h5>
    <hr>
    {% if book.language %}
    <div class="form-group">
        <label for="bookLanguage">Language:</label>
        <strong id="bookLanguage">{{ book.language }}</strong>
    </div>
    {% endif %}
    {% if book.release_date %}
    <div class="form-group">
        <label for="bookReleaseDate">Released On:</label>
        <strong id="bookReleaseDate">{{ book.release_date }}</strong>
    </div>
    {% endif %}
    {% if book.last_updated %}
    <div class="form-group">
        <label for="bookLastUpdatedOn">Last Updated On:</label>
        <strong id="bookLastUpdatedOn">{{ book.last_updated }}</strong>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div>
    <div class="center">
        <div class="pagination float-left">
            <a href="/" class="text-info">Looking for another book?</a>
        </div>
        <div class="pagination">
        <span class="{% if book.current_page > 1 %} visible {% else %} invisible {% endif %}">
            <a href="/book/{{book.id}}/page/1" title="Go to first page">&lt;&lt;</a>
            <a href="/book/{{book.id}}/page/{{book.current_page|add:-1}}" title="Go to previous page">&lt;</a>
        </span>

            <a href="#" class="active" title="You are currently on page {{book.current_page}}">Page
                {{book.current_page}} of
                {{book.last_page_number}}</a>

            <span class="{% if book.current_page < book.last_page_number %} visible {% else %} invisible {% endif %}">
        <a href="/book/{{book.id}}/page/{{book.current_page|add:1}}" title="Go to next page">&gt;</a>
        <a href="/book/{{book.id}}/page/{{book.last_page_number }}" title="Go to last page">&gt;&gt;</a>
        </span>
        </div>
        <div class="pagination dropdown float-right">
            Show
            <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                50
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">50</a>
                <a class="dropdown-item" href="#">55</a>
                <a class="dropdown-item" href="#">60</a>
                <a class="dropdown-item" href="#">65</a>
                <a class="dropdown-item" href="#">70</a>
                <a class="dropdown-item" href="#">75</a>
            </div>
            lines per page
        </div>
    </div>
    <div class="card page">
        <div class="card-body">
            <p class="card-text">{{ content }}</p>
        </div>
    </div>
    <p>
    <div class="center">
        <div class="pagination ">
        <span class="{% if book.current_page > 1 %} visible {% else %} invisible {% endif %}">
            <a href="/book/{{book.id}}/page/1" title="Go to first page">&lt;&lt;</a>
            <a href="/book/{{book.id}}/page/{{book.current_page|add:-1}}" title="Go to previous page">&lt;</a>
        </span>

            <a href="#" class="active" title="You are currently on page {{book.current_page}}">Page
                {{book.current_page}} of
                {{book.last_page_number}}</a>

            <span class="{% if book.current_page < book.last_page_number %} visible {% else %} invisible {% endif %}">
        <a href="/book/{{book.id}}/page/{{book.current_page|add:1}}" title="Go to next page">&gt;</a>
        <a href="/book/{{book.id}}/page/{{book.last_page_number }}" title="Go to last page">&gt;&gt;</a>
        </span>
        </div>
    </div>
    </p>
</div>
{% endblock %}
