{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<h2>Filter books by</h2>
<hr>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" name="title" value="{{title}}">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" value="{{author}}">
    </div>
    <button type="submit" name="submit" class="btn btn-success float-left">Go!</button>
    <button type="submit" name="reset" class="btn btn-info float-right">Reset!</button>
</form>
{% endblock %}

{% block content %}
<div class="card-columns">
    {% for book in books %}
    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title">{{ book.title }}</h4>
            <p class="card-text text-muted">{{ book.author }}</p>
            <p>
                <div class="pagination">
                    <a class="text-success" href="/book/{{book.id}}/page/1">
                        <img src="{% static 'images/icons/bookmark.png' %}" class="icons"> Start reading!
                    </a>
                </div>
                {% if book.current_page > 1 %}
                <div class="pagination">
                    <a class="text-info" href="/book/{{book.id}}/page/{{book.current_page}}">
                        <img src="{% static 'images/icons/open-book.png' %}" class="icons"> Cont. from page {{ book.current_page }}
                    </a>
                </div>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
