{% extends "base.html" %}

{% block sidebar %}
<!-- Sidebar -->
<h2>Filter books by</h2>
<hr>
<form>
    <div class="form-group">
        <label for="email">Name</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Author</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <button type="submit" class="btn btn-primary float-right">Go!</button>
</form>
{% endblock %}

{% block content %}
<div class="card-columns">
    {% for book in books %}
    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title">{{ book.title }}</h4>
            <p class="card-text text-muted">{{ book.author }}</p>
            {% if book.current_page != 0 %}
            <p><a class="text-info" href="/book/{{book.id}}/page/{{book.current_page|add:1}}">Continue reading from page {{ book.current_page|add:1 }}
            </a></p>
            {% endif %}
            <p><a class="text-success" href="/book/{{book.id}}/page/1">Start reading from page
                1</a></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
