.page {
    white-space: pre;
}

.white-text {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 3.5rem;
    margin-bottom: 45px;
}

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

input[type=number] {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.footer {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    line-height: 45px; /* Vertically center the text there */
    background-color: #f8f9fa;
}

.pagination {
    display: inline-block;
    font-size: medium;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #f8f9fa;
    color: #151515;
    border-radius: 25px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 25px;
}

.center {
    text-align: center;
}

.dropdown {
    padding-right: 16px;
}

.dropdown-menu {
    min-width: fit-content;
}

.card {
    display: block;
    background: #f8f9fa73;
    border: 1px dashed rgba(0, 0, 0, .1);
}

.bg-darker-than-light {
    background: #f1f1f1;
}

.icons {
    height: 20px;
    width: 20px;
}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1.5px;
}

.navbar-toggler{
    border-color: transparent;
}

.navbar-light .navbar-toggler{
    border-color: transparent;
}

.left {
    position: fixed;
}

.bg-light{
    overflow: hidden;
}

@media (max-width: 767px){
    .left {
        position: relative;
    }
    .fixed-top{
        position: absolute;
    }
}